---
http_interactions:
- request:
    method: get
    uri: https://weworkremotely.com/categories/2-programming/jobs.rss
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/rss+xml; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"3cdfe4c31cb321fac56d917adba22c02"'
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<rss xmlns:dc=\"http://purl.org/dc/elements/1.1/\"
        xmlns:media=\"http://search.yahoo.com/mrss\" version=\"2.0\">\n  <channel>\n
        \   <title>We Work Remotely: Programming Jobs</title>\n    <link>https://weworkremotely.com/categories/2-programming/jobs.rss</link>\n
        \   <description>We Work Remotely: Programming Jobs</description>\n    <language>en-US</language>\n
        \   <ttl>60</ttl>\n    <item>\n      <media:content type=\"image/png\" url=\"https://s3.amazonaws.com/wwr-production/logos/0001/3715/logo.gif\"/>\n
        \     <title>Devschool, inc.: KIND Sr JavaScripter/ES6/Instructor needed to
        teach @ Devschool!</title>\n      <description>&lt;img alt=&quot;Resized_logo&quot;
        src=&quot;https://dge9rmgqjs8m1.cloudfront.net/wwr_s3/logos/0001/3715/logo.gif/resized_logo.png?r=3&quot;
        /&gt;\n\n&lt;p&gt;\n  &lt;strong&gt;Headquarters:&lt;/strong&gt; Puerto Vallatrta,
        MX\n&lt;/p&gt;\[...]
[...]
