@import 'base';
@import 'partials/**/*';

/* ----------------------------------------------------------------- */
// HTML & Body
/* ----------------------------------------------------------------- */

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
  font-family:  "Roboto", sans-serif;
  font-size: 16px;

}

body {
  margin: 0;
  padding: 0;
}


.container {
  margin-left: 256px;
  position: relative;
}

.brand {
  color: $accent2;
}

.app {
  padding: 2em;
}

/* ----------------------------------------------------------------- */
// Headers
/* ----------------------------------------------------------------- */

h1 {
  margin: 0;
  padding: 1.0em 0.5em 0.5em 0.5em;
  font-size: 24px;
  font-weight: 200;
  background: black;
}

h2 {
  margin-top: 0;
  font-weight: bold;
  text-align: left;
  font-size: 2em;
  padding: 0 0.5em;
  line-height: 1em;
}

/* ----------------------------------------------------------------- */
// Forms
/* ----------------------------------------------------------------- */

.button-group {
  margin: 2em 0;
}

.create-digest-form {
  margin: 3em 0 0;
  input {
    @include placeholder {
      color: $base02;
    }
    border-width: 0;
    text-align: left;
    background: $base2;
    width: 100%;
    padding: 1em;
    font-size: 1em;
    box-sizing: border-box;
  }
  input[type='email'],
  input[type='text'] {
    background: $base2;
    &:hover {
      outline: none;
    }
    &:focus {
      outline: none;
      @include placeholder {
        color: $base03;
      }
    }
  }
  input[type='email'] {
    margin-bottom: 1em;
  }
  .composite-text-field {
    margin-top: 2em;
    input {
      margin-bottom: 1em;
    }
    a {
      float: right;
      margin: 0.5em 0;
    }
  }
  .button-group {
    clear: both;
    text-align: right;
    margin: 1em 0;
  }
  input[type='submit'] {
    margin-top: -0.25em;
    margin-left: -0.25em;
    padding: 1em;
    width: 50%;
    text-align: center;
    @include box-shadow(0.5em 0.5em 0 lighten($accent2, 25%));
    background: $accent2;
    color: white;
    &:focus {
      outline: none;
    }
    &:active {
      margin-top: 0.25em;
      margin-left: 0.25em;
      outline: none;
      @include box-shadow(0 0 0);
    }
  }
}


.job-list {
  padding: 1em;
  max-width: 960px;
  margin: 0 auto;
}
.job-list h2 {
  margin-top: 1em;
}

.job-list--loading {
  text-align: center;
}

