@import 'base';
@import 'partials/**/*';

/* ----------------------------------------------------------------- */
// HTML & Body
/* ----------------------------------------------------------------- */

body {
  margin: 0;
  padding: 0;
}


.container {
  margin-left: 256px;
  position: relative;
}

#app {
  padding: 2em;
}

/* ----------------------------------------------------------------- */
// Headers
/* ----------------------------------------------------------------- */

h1 {
  margin: 0;
  padding: 1.0em 0.5em 0.5em 0.5em;
  font-size: 24px;
  font-weight: 200;
  background: black;
}

h2 {
  margin-top: 0;
  font-weight: bold;
  text-align: left;
  font-size: 2em;
  padding: 0 0.5em;
  line-height: 1em;
}

/* ----------------------------------------------------------------- */
// Forms
/* ----------------------------------------------------------------- */

.button-group {
  margin: 2em 0;
}


.job-list {
  max-width: 960px;
  margin: 0 auto;
}
.job-list h2 {
  margin-top: 1em;
}

.job-list--loading {
  text-align: center;
}


.JobList__Paginator {
  margin: 2em 0 2em 0;
  text-align: center;
}
