---
http_interactions:
- request:
    method: get
    uri: https://weworkremotely.com/jobs.rss
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/rss+xml; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"518dbd6527b9d24501e5eb0b77f7e1ae"'
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<rss version=\"2.0\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\"
        xmlns:media=\"http://search.yahoo.com/mrss\">\n  <channel>\n    <title>Remote
        Jobs: Design, Programming, Rails, Executive, Marketing, Copywriting, and more.</title>\n
        \   <link>https://weworkremotely.com/jobs.rss</link>\n    <description>Remote
        Jobs: Design, Programming, Rails, Executive, Marketing, Copywriting, and more.</description>\n
        \   <language>en-US</language>\n    <ttl>60</ttl>\n    <item>\n      <media:content
        type=\"image/png\" url=\"https://s3.amazonaws.com/wwr-production/logos/0001/3695/logo.gif\"/>\n
        \     <title>LendingRobot: Backend Python Developer</title>\n      <description>&lt;img
        alt=&quot;Resized_logo&quot; src=&quot;https://dge9rmgqjs8m1.cloudfront.net/wwr_s3/logos/0001/3695/logo.gif/resized_logo.png?r=3&quot;
        /&gt;\n\n&lt;p&gt;\n  &lt;strong&gt;Headquarters:&lt;/strong&gt; Seattle,
        WA\n    &lt;br /&gt;&lt;strong&gt;URL:&lt;/strong&gt; lendingrobot.com\n&lt;/p&gt;\n\n&lt;div&gt;&lt;strong&gt;About
        LendingRobot&lt;/strong&gt;&lt;/div&gt;&lt;div class=&quot;paragraph_break&quot;&gt;&lt;br
        /&gt;&lt;/div&gt;&lt;div&gt;LendingRobot is an innovative financial technology
        start-up based in Seattle, WA. It combines cutting edge machine learning algorithms
        with advanced cloud technologies to offer the leading automated investment
        management service for people investing in peer-lending marketplaces.&amp;nbsp;&lt;/div&gt;&lt;div
        class=&quot;paragraph_break&quot;&gt;&lt;br /&gt;&lt;/div&gt;&lt;div&gt;&lt;strong&gt;The
        Position: Python Backend Developer&amp;nbsp;&lt;/strong&gt;&lt;/div&gt;&lt;div
        class=&quot;paragraph_break&quot;&gt;&lt;br /&gt;&lt;/div&gt;&lt;div&gt;You
        will help develop a scalable, high-performance, cloud-based platform for active
        portfolio management on behalf of our clients. Our product consists of a secure
        back-end architecture and a customer-facing website. You will be faced with
        interesting technical challenges in security, distributed high-performance
   [...]
- request:
    method: get
    uri: https://weworkremotely.com/jobs.rss
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/rss+xml; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"bfdcf0245ea3f677ae38e01e51bd49bd"'
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<rss xmlns:media=\"http://search.yahoo.com/mrss\"
        version=\"2.0\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\">\n  <channel>\n
        \   <title>Remote Jobs: Design, Programming, Rails, Executive, Marketing,
        Copywriting, and more.</title>\n    <link>https://weworkremotely.com/jobs.rss</link>\n
        \   <description>Remote Jobs: Design, Programming, Rails, Executive, Marketing,
        Copywriting, and more.</description>\n    <language>en-US</language>\n    <ttl>60</ttl>\n
        \   <item>\n      <media:content type=\"image/png\" url=\"https://s3.amazonaws.com/wwr-production/logos/0001/3695/logo.gif\"/>\n
        \     <title>LendingRobot: Backend Python Developer</title>\n      <description>&lt;img
        alt=&quot;Resized_logo&quot; src=&quot;https://dge9rmgqjs8m1.cloudfront.net/wwr_s3/logos/0001/3695/logo.gif/resized_logo.png?r=3&quot;
        /&gt;\n\n&lt;p&gt;\n  &lt;strong&gt;Headquarters:&lt;/strong&gt; Seattle,
        WA\n    &lt;br /&gt;&lt;strong&gt;URL:&lt;/strong&gt; lendingrobot.com\n&lt[...]
