<!DOCTYPE html>
<html>
  <head>
    <title>Curated Remote &amp; Freelance Jobs | Hacker Jobs</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
	<body class="<%= body_class %>">

    <div id="app" class="container">
      <%= yield %>
    </div>


    <script type="text/javascript" src="/app.bundle.js"></script>

  </body>
</html>
