<!DOCTYPE html>
<html>
  <head>
    <title>HackerLeads: Search 30+ tech job sites</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <script src="https://use.typekit.net/jkh5unb.js"></script>
    <script>try{Typekit.load({ async: false });}catch(e){}</script>
  </head>
	<body class="<%= body_class %>">

    <div id="app" class="container">
      <%= yield %>
    </div>
  </body>
</html>
